# On ignore les dossiers de cache Unity
/[Uu]nityProject/[Ll]ibrary/
/[Uu]nityProject/[Tt]emp/
/[Uu]nityProject/[Oo]bj/
/[Uu]nityProject/[Bb]uild/
/[Uu]nityProject/[Ll]ogs/
/[Uu]nityProject/[Uu]serSettings/
/[Uu]nityProject/[Aa]ssets/[Aa]ssetStoreTools*

# Fichiers de solution Visual Studio et IDE
*.csproj
*.sln
*.slnx
*.swp
*.userprefs
*.mono
*.pidb
*.booproj
*.unitypackage

# Fichiers système Mac et Windows
.DS_Store
**/.DS_Store
Thumbs.db